header{
    background: linear-gradient(to right,#1a81ef, #000080);
    text-align: center;
}


h1{
    color: white;
    display: inline-block;
}

.card-body{
    background-color: black;
}
/* .card-title{
    color: white;
} */
.text{
    color: white;
}